body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:317px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:564px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:564px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:110px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:168px;
  width:103px;
  height:109px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:99px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:110px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:168px;
  width:108px;
  height:109px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
