body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:317px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:564px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:564px;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:274px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:110px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:168px;
  width:103px;
  height:109px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:99px;
  word-wrap:break-word;
}
#u1104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:110px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:168px;
  width:108px;
  height:109px;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:104px;
  word-wrap:break-word;
}
